<%include ../partials/header%>
<div class="container">
    <div class="row">
        <h1 class="col-sm-12" style="text-align:center;">Edit Comment</h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/campgrounds/<%=campgroundId%>/comments/<%= foundComment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label>Comment:</label>
                    <input class="form-control" type="text" name="comment[text]" value="<%=foundComment.text%>" required>
                </div>
                
                <button class="btn btn-success btn-lg btn-block">Submit</button>
            </form>
            <a href="/campgrounds/<%=campgroundId%>">Go Back</a>
        </div>
    </div>
</div>
<%include ../partials/footer%>