<% include ../partials/header %>

<div class="container" id="indexPage_container">
    
    <header class="jumbotron mt-4">
        <h1>Sneaker Heads' Utopia</h1> 
        <p>Get All Info On The Latest Sneakers</p>
        <p>
            <a class="btn btn-info btn-lg" href="/sneakers/new">Add New Sneaker</a>
        </p>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <h3 class="col-md-12" id="indexPage_header">Sneaker Reviews</h3>
    
        <% foundSneakers.forEach(function(sneaker){ %>
            <div class="col-md-3 col-sm-6"> 
                <div class="card" style="margin-bottom: 20px;">
                    <img src="<%=sneaker.img%>" class="card-img-top"> 
                    
                    <div class="card-body">
                        <h5 class="card-title"><%= sneaker.name %></h5>
                        <a class="btn btn-info btn-md" href="/sneakers/<%=sneaker._id%>">View Details</a>
                    </div>    
                </div>
            </div>
        <% }); %>
    </div>
    
</div>
<% include ../partials/footer %>